@import url('https://fonts.googleapis.com/css2?family=Magra&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Magra', sans-serif;
    font-size: 1em;
}
.container{
    /* width: 100vw; */
    height: 100vh;
    border: solid 3px rgba(0, 0, 0, 0.507);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
    gap: 20px;
}
.logo{
    width: 110px;
    height: 110px; 
}
.inicio{
    text-align: center;
    font-size: 1rem;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mail, .password{
    border: 0.1rem grey solid;
    padding: 0.5rem;
    border-radius: 0.6em;
}
.entrar{
    width: 14em;
    height: 3em;
    color: white;
    background-color: rgb(24, 11, 143);
    text-align: center;
    padding: 0.2rem;
    margin: 0.5rem;
    border: white;
    cursor: pointer;
}
.olvido{
    color: black;
    text-decoration: none;
    padding: 0.4rem;
    border: 0.2rem solid grey;
    border-radius: 2rem;
}